/* for h2 and p i used a comma method to group them together (note i can include h1 but want to show the difference)*/

h1, h2, p{
    text-align: center;
}

/*change background color*/
body{/*
    background-color: burlywood;*/

    /*add a background image*/
    font-family: sans-serif;
    background-image: url(beans.jpeg);
    padding: 20px;


}

h1{
    margin-top: 0;
    font-size: 40;
    margin-bottom: 15px;

}

.address{
    margin-bottom: 15px;
}

h2{
    font-size: 30px;
}

h1, h2{
    font-family: Impact, serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}


.established{

    font-style: italic;
}


/*An id selector is defined by placing the hash symbol #, for the div to not take up the entire width of the page ill give the element a width of 300px  */
/* more common to use a selector defined by a "."*/
/*#*/.menu {
    width: /*300px*/ 80%;
    background-color: burlywood;
    margin-left: auto; /*to center the menu */
    margin-right: auto;
      /*
    padding-left: auto;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    can use padding top,bottom, left, right */
    padding: 20px; /*does all sides */
    max-width: 500px; /* menu max width to prevent an overspaced wide me*/
}
.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;

}

hr{
    height: 2px;
    background-color: brown;
    border-color: brown;

}

.bottom-line{
    /* add spacing for the bottom divider */
    margin-top: 25px;

}

/* FOOTER STYLING */

footer{
    font-size: 14px;
}

a{
    color: black;
}

a:visited{
    color: black;
}
a:hover{

    color: brown;
}

a:active{
    color: brown;
}



